<% if !@notes.empty? %>

	<% @notes.each do |note| %>
		<%= div_for note do %>

			<div class="note-creator"><label class="label label-success"> noted by <%= note.noted_by %> </label><br />
			<label class="label label-info"> got <%= pluralize(note.comments.count, "comment") %> </label></div>
			<p class="lead name"> <%= note.name %> </p>

			<div class="note-content">
				<%= raw note.description %>
			</div>

			<div class="note-actions pull-right">
				<%= link_to raw("<i class='icon icon-fire icon-white'></i> Comment"), note_path(note), class:"btn btn-warning btn-small" %>
				<%= link_to raw("<i class='icon icon-th-large icon-white'></i> Edit"), edit_note_path(note), class:"btn btn-inverse btn-small" %>
				<%= link_to raw("<i class='icon icon-remove icon-white'></i> Delete"), note, method: :delete, remote: true, confirm: "Are you sure you want to delete?", class:"btn btn-danger btn-small" %>
			</div>

			<div class="clearfix"></div>
		<% end %>
	<% end %>

<% else %>
	<div class="alert alert-warning">
		No notes available. <%= link_to "Create a note", new_note_path %>.
	</div>
<% end %>