
<div class="row-fluid">

	<div class="span12">
		<h1> Take Notes </h1>
		<hr />
	</div>

</div>

<% if notice %>
	<div class="alert alert-success">
		<%= notice %>
	</div>
<% end %>

<% if alert %>
	<div class="alert alert-error">
		<%= alert %>
	</div>
<% end %>

<% if user_signed_in? %>
<div class="row-fluid">
	<div class="span12">
		<% if user_signed_in? && current_user.is_admin? %>
			<p class="lead"> You are an administrator </p>
		<% end %>
		
		<a id="toggle-form" href="#" class="btn"><i class="icon icon-asterisk"></i> Create Note!</a>

		<div id="create-note">
			
			<%= form_for(Note.new) do |f| %>
				<%= f.text_field :name, {placeholder:"#title",class:"span2 input-small",required:"required"} %> <br />
				<%= f.text_area :description, {class:"span6 input-small textarea wysihtml5-editor placeholder",style:"height:200px",placeholder:"#putyournotehere",required:"required"} %> <br />
				<%= button_tag type:"submit",class:"btn btn-primary loading-btn",data-loading-text:"Processing..." do %>
					<i class="icon icon-plus-sign icon-white"></i> Add Note
				<% end %>
			<% end %>
			
		</div>

		<hr />
	</div>
</div>
<% else %>
<div class="row-fluid">
	<div class="span12">
		<em>Login to start creating & viewing notes.</em>
		<hr />
	</div>
</div>
<% end %>

<div class="row-fluid">

	<div class="span4">
		<p class="lead"> Registered Users </p>
		<div>
			<% if !@users.empty? %>
				<ul>
					<% @users.each do |user| %>
						<li> 
							<span class="badge badge-important"><%= user.email %></span> <br />
							<small style="margin-left:20px"> <i class="icon icon-bookmark"></i> Created <%= pluralize(user.notes.count, "note") %> </small>
						</li>
					<% end %>
				</ul>
			<% else %>
				No users registered.
			<% end %>
		</div>

		<p class="lead"> Administrators </p>
		<div>
			<% if !@admins.empty? %>
				<ul>
					<% @admins.each do |admin| %>
						<li> 
							<span class="badge badge-info"><%= admin.email %></span> <br />
						</li>
					<% end %>
				</ul>
			<% else %>
				No admins registered.
			<% end %>
		</div>
	</div>

	<div class="span6">
		
		<div id="notes-container">

			<%= render "note" %>

		</div>

	</div>

</div>